@using onessaye.Models.POCO;

<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        @foreach (Recipe recipe in ViewBag.Catalogue)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Type</td>
                <td>@recipe.SellingPrice</td>
                <td>@recipe.Date.ToString()</td>
                <td>@Html.ActionLink("Description","CheckRecipe",new { id_recipe = recipe.Id })</td>
            </tr>
        }
    </table>
</div>