@using onessaye.Models.POCO;
@model onessaye.Views.ViewClasses.DisplayRecipeInformation

@*Bisconti Flavian*@

<div>
    <p><b>Name : </b>@Model.r.Name</p>
    <p><b>Type : </b>@Model.r.Type</p>
    <h4>List of ingredients</h4>
    <ul>
        @foreach (Ingredient ing in Model.r.ListIngredients)
        {
            <li>@ing</li>
        }
    </ul>
    <table border="1">
        <tr>
            <th>Cost price</th>
            <td>@Model.ReturnCostPrice()</td>
        </tr>
        <tr>
            <td><i>TVA</i></td>
            <td>+0,05%</td>
        </tr>
        <tr>
            <th>Selling price</th>
            <td>@Model.ReturnSellingPrice()</td>
        </tr>
    </table>
    <h4>List of Dates</h4>
    <table border="1">
        <tr>
            <th>Availability</th>
            <th>Quantity available</th>
            <th>Quantity Left</th>
        </tr>
        @foreach (Date date in Model.r.Schedules.ListDate)
        {
            <tr>
                <td>@date.DateAvailable</td>
                <td>@date.QuantityAvailable</td>
                <td>@date.QuantityLeft</td>
            </tr>
        }
        </table>
</div>