@model onessaye.Models.POCO.User
@{
    ViewBag.Title = "LoginOrder";
}

<h2>LoginOrder</h2>
@if (ViewBag.Error != null)
{
    <div>
        <ul>
            @foreach (string error in ViewBag.Error)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<div>
    @using (Html.BeginForm("LoginForOrder", "Home", "post"))
    {
        <fieldset>
            <legend>Connexion</legend>
            @Html.LabelFor(model => model.Nickname)
            @Html.TextBoxFor(model => model.Nickname, new { Required = "Required" })
            <br />
            @Html.LabelFor(model => model.Password)
            @Html.TextBoxFor(model => model.Password, new { Required = "Required", Type = "password" })
            <br />
            <input type="text" name="recipe_id" value="@ViewBag.RecipeID" hidden />
            <input type="submit" value="Log in" />
        </fieldset>
    }
</div>

