@*Bisconti Flavian*@
@using onessaye.Models.POCO;

@{
    Recipe recipe = ViewBag.recipe;
    User user = ViewBag.User;
}
<p><a href="~/Home/Index">Log Out</a></p>

@if (ViewBag.ListErrors != null)
{
    <div>
        <ul>
            @foreach (string error in ViewBag.ListErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<div>
    @using (Html.BeginForm("AddOrder", "Order", "post"))
    {
        <fieldset>
            <legend>Create a new Order</legend>
            <h4>Select the date</h4>
                            <select name="@recipe.Schedules.Id" required>
                                @foreach(Date date in recipe.Schedules.ListDate)
                                {
                                    <option value="@date.DateAvailable">>@date.DateAvailable</option>
                                }
                            </select>
            <p>
            <br />
            <input type="text" value="@user.Id" name="cook_id" hidden />
            <input type="submit" value="Create recipe" />
            @Html.ActionLink("Reset Form", "DisplayRecipeForm", new { Cook = cook })
        </fieldset>
    }
