@model onessaye.Views.ViewClasses.DisplayUserInformation
@using onessaye.Models.POCO;

@{
    List<Recipe> l_recipes = ViewBag.ListRecipes;
}

@*Bisconti Flavian*@

<p><a href="~/Home/Index">Log Out</a></p>

<h2>Profile</h2>
<div>
    <table border="1">
        @for (int i = 0; i < Model.TabLabels.Length; i++)
        {
            <tr>
                <th>@Model.TabLabels[i]</th>
                <td>@Model.TabInfos[i]</td>
            </tr>
        }
    </table>
</div>
@if (Model.User is Cook)
{
<div>
    <p>@Html.RouteLink("Create a new recipe", "AddRecipe", new { Cook = Model.User.Nickname, NbIngredients = 3 })</p>
    <p>@Html.RouteLink("Schedule", "Schedule", new { id_Cook = Convert.ToString(Model.User.Id) })</p>
    <h4>Your recipes</h4>
        <table>
            @foreach (Recipe recipe in l_recipes)
            {
            <tr>
                <td>@recipe</td>
                <td>@Html.ActionLink("Description", "CheckRecipe", "Recipe", new { id_recipe = recipe.Id }, new { })</td>
                <td>@Html.ActionLink("Modify", "ModifyRecipe", "Recipe", new { cook_username = Model.User.Nickname, recipe_to_modify = recipe}, new { })</td>
                <td>@Html.ActionLink("Delete", "DeleteRecipe", new { id_recipe = recipe.Id })</td>
            </tr>
            }
        </table>
</div>
}